.logout_btn {
  /*DISEÑO*/
  padding: 10px 10px;
  border: none;
  border-radius: 3px;
  background-color: #ff7345;
  /*POSICIÓN*/
  /*CONTENIDO*/
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 600;
  color: #000;
}

.logout_btn:hover {
  cursor: pointer;
}