.schedule_container {
  display: inline-block;
  width: 70%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.day {
  width: 100%;
  height: auto;
  font-size: 10px;
  padding-bottom: 10px;
  color: #fff;
}
.firstMatch {
  width: 50%;
  height: auto;
  color: #fff;
}
.match {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo_equipos {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}
.hour {
  margin-top: 10px;
  font-size: 10px;
}